
/**
 * Zopim logo.
 */

.logo[data-logo="Zopim"] {
  width: 0;
}

.logo[data-logo="Zopim"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Zopim"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Zopim"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
